/* #292e36 */
body {
    margin: 0;
    padding:}

.container {
    background: #292e36;
}
.logo {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
}
.phone {
    height: auto;
    width: 20%;
    background: transparent;
    border: #e1b168 solid 2px;
    margin: auto;
}
.phone :hover {
    background: #e1b168;
    height: 100%;
}
#call {
    padding: 10px;
    color: #fff;
    text-align: center;
}
.Reserv {
    height: auto;
    width: 20%;
    margin: auto;
    background: #e1b168;
    margin: auto;
}
.Reserv :hover {
    background: transparent;
}
#reservation {
    padding: 10px;
    color: #000;
    background: #e1b168;
    text-align: center;
}
.nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: #fff solid 1px;
    border-top: #fff solid 1px;
}
.left ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    list-style: none;
    text-decoration: none;
    color: #fff;
}
.left ul li a{
    padding: 10px;
    color: #fff;
    text-decoration: none;
}
.left ul li :hover {
    color: #e1b168;
}
.right ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    list-style: none;
    text-decoration: none;
    color: #fff;
}
.right ul li a{
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.welcome {
    width: 90%;
    margin: 0 auto;
}
.top {
    text-align: center;
}
#welcome2, #enjoy {
    color: #fff;
    text-align: center;
    font-size: 5em;
    font-family: 'Poppins-Bold';
}

#content {
    color: #fff;
    text-align: center;
    padding-top: 30px;
    font-family: 'Poppins-regular';
    font-size: 1.4em;


}
.TopImage {
    width: 50%;
    height: 500px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 20px;
}
.TopImage img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top: #3d4249 solid 19px;
    border-left:  #3d4249 solid 19px;
    border-right:  #3d4249 solid 19px;
}   

.pin {
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
}
.pin img {
    width: 100px;
    height: 100px;
    background: #292e36;
    border-radius: 50%;
}

.Locate {
    background: #fff8f5;
    margin: 0 auto;
    padding-top: 30px;
}
.grid {
    display: grid;
    grid-gap: 20px;
    padding: 20px;
}
@media (min-width: 300px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 900px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.pin {
    display: flex;
}
.toppa{
    
}
#locate{
    color: #000;
    border-radius: 10px;
    font-size: 1.5em;
}
#location{
    color: #000;
    font-size: 1em;
}
.Interior {
    display: flex;
    width: 90%;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 3.5%;
}

.story-image {
    width: 100%;
    max-width: 642px;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}



.story{
    width: 85%;
    padding: 20px;
    color: #000;
}
#about {
    font-size: 2em;
    margin: 0;
    padding-left: 4%;
}
#content1{
    padding: 20px;
    color: #000;
    border-radius: 10px;
    width: 47%;
}
.grid1 {
    display: grid;
    width: 50%;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
}
@media (min-width: 600px) {
    .grid1 {
        grid-template-columns: 1fr 1fr;
    }
}



#year {
    font-size: 2em;
    margin: 0;
}

#Plan {
    font-size: 1em;
    margin: 0;
}
.sign {
    padding-left: 2%;
}

#sign {
    font-size: 1.4em;
    margin: 0;
}
.sign img{
    width: auto;
    height: auto;
}

.menu-grid{
   display: grid;
   grid-template-columns: 1fr;
    padding: 20px;
}
@media (min-width: 600px) {
    .menu-grid {
        grid-template-columns: 1fr 1.4fr;
    }
}

.menu1, .menu2 {
    padding: 20px;
}
.menu1 {
    width: 71%;
}
#menu {
    font-size: 1.5em;
    margin: 0;
    border-top: #e1b168 solid 2px;
    border-bottom: #e1b168 solid 2px;
}
.menu2 {
    overflow-y:auto;
    max-height:820px;
    width: 100%;
}
.See {
    height: auto;
    width: 50%;
    background: transparent;
    border: #e1b168 solid 2px;
}
#see {
    padding: 10px;
    color: #000;
    text-align: center;
    font-size: 1.2em;
}

.offers {
    padding-top: 30px;
    padding-bottom: 20px;


}
.tittleHead {
    display: flex;
    justify-content: center;
}
#offer {
    text-align: center;
}
#Offers{
    width: 90px;
    font-size: 1.4em;
    text-align: center;
    color: #000;
    border-bottom: #e1b168 solid 1px;
    border-top: #e1b168 solid 1px;
}
#chefs {
    font-size: 1em;
    color: #000;
    width: 65%;
    margin: auto;
    text-align: center;
}
.offerGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    width: 94%;
    margin: 0 auto;
}
.Bugger, .Pizza {
    position: relative; 
  }
.Bugger {
    background-image: url('/public/images/buggerBack.jpg');
    width: 100%;
}
.Pizza {
    background-image: url('/public/images/pizzaBack.jpg');
}


.offerpic {
    position: relative;
    display: inline-block; 
    width: 170px;
    height: 170px;
    display: block;
    margin:30px;
  }
  
  .offerpic img {
    width: 100%; 
    display: block; 
  }
  
  .KshOffer {
    position: absolute;
    top: 50%; 
    left: 50%; 
    text-align: center;
    transform: translate(-50%, -50%) rotate(-35deg);
    color: #000; 
    padding: 10px; 
    border-radius: 5px; 
    text-align: center; 
  }
  #only1{
    color: #fff;
  }
  #Kshs1{
    color: #fff;
  }
  #only, #only1 {
    font-size: 1em;
    font-family: 'Poppins-bold';
  }
  #Kshs, #Kshs1 {
    font-size: 2.1em;
    font-family: 'Poppins-bold';
  }
  #going {
    border-top: #000 solid 1px;
    border-bottom: #000 solid 1px;
    width: 36%;
    margin-left: 20px;
    font-size: 1.3em;
  }
  #offerName {
    padding-left: 20px;
    font-size: 2em;
  }
  #offerDec {
    font-size: 1.2em;
    width: 90%;
    padding-left: 20px;
  }

  .grid-popular {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
  }
 
 @media (min-width: 600px) {
     .grid-popular {
         grid-template-columns: 1fr 1fr 1fr ;
     }
 }

 .Great {
    background: #292e36;

 }
 .innercontainer {
    width: 90%;
    margin: 0 auto;
 }
 .WhatHead {
    padding-top: 20px;
    margin: 0 auto;
 }
 #What {
    width: 180px;
    font-size: 1.4em;
    text-align: center;
    color: #fff;
    border-bottom: #e1b168 solid 1px;
    border-top: #e1b168 solid 1px;
 }
 #great {
    font-size: 2em;
    color: #fff;
    margin: auto;
 }
 #game {
    font-size: 1.15em;
    color: #fff;
    margin: auto;
 }
 .CalContainer {
    width: 100%;
    border: #3d4249 solid 20px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
 }
 .CalContainer1 {
    width: 100%;
    height: 60px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px; }
.CalContainer img {
    display: block;
    margin: 0 auto;
    width: 80px;
}
 #calender{
    font-size: 1.2em;
    color: #fff;
 }
