/* #292e36 */
/* background-image: url('/public/images/backgrd.jpg'); */

body {
    background-image: url('/public/images/bestback.jpg');
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center; 
    background-repeat: no-repeat; 
    padding: 0; 
    overflow-x: hidden; 
  }

.container {
    background: #292e36;
}
.logo {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
}
.phone {
    height: auto;
    width: 20%;
    background: transparent;
    border: #e1b168 solid 2px;
    margin: auto;
}
.phone :hover {
    background: #e1b168;
    height: 100%;
}
#call {
    padding: 10px;
    color: #fff;
    text-align: center;
}
.Reserv {
    height: auto;
    width: 20%;
    margin: auto;
    background: #e1b168;
    margin: auto;
}
.Reserv :hover {
    background: transparent;
}
#reservation {
    padding: 10px;
    color: #000;
    background: #e1b168;
    text-align: center;
}
.nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: #fff solid 1px;
    border-top: #fff solid 1px;
}
.left ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    list-style: none;
    text-decoration: none;
    color: #fff;
}
.left ul li a{
    padding: 10px;
    color: #fff;
    text-decoration: none;
}
.left ul li :hover {
    color: #e1b168;
}
.right ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
    list-style: none;
    text-decoration: none;
    color: #fff;
}
.right ul li a{
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.welcome {
    width: 90%;
    margin: 0 auto;
}
.top {
    text-align: center;
}
#welcome2, #enjoy {
    color: #fff;
    text-align: center;
    font-size: 5em;
    font-family: 'sans-serif';
}

#content {
    color: #fff;
    text-align: center;
    padding-top: 30px;
    font-family: 'Poppins-regular';
    font-size: 1.4em;


}


.TopImage {
    position: relative;
    width: 50%;
    height: 500px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .settings-img {
    position: absolute;
    top: -50px;
    right: -150px;
    width: 70%; 
    height: 70%;
    z-index: 1;
    opacity: 0.7; /* Adjust opacity as necessary */
    /* transform: rotate(122.558deg); */
    transform-style: preserve-3d;
    will-change: transform;
    /* background-color: #000; */
  }
  
  .back-img {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top: #3d4249 solid 19px;
    border-left:  #3d4249 solid 19px;
    border-right:  #3d4249 solid 19px;
}



.pin {
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
}
.pin img {
    width: 100px;
    height: 100px;
    background: #292e36;
    border-radius: 50%;
}

.Locate {
    background: #fff8f5;
    margin: 0 auto;
    padding-top: 30px;
}
.grid {
    display: grid;
    grid-gap: 20px;
    padding: 20px;
}
@media (min-width: 300px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 900px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1200px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.pin {
    display: flex;
}
.toppa{
    
}
#locate{
    color: #000;
    border-radius: 10px;
    font-size: 1.5em;
}
#location{
    color: #000;
    font-size: 1em;
}
.Interior {
    display: flex;
    width: 90%;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 3.5%;
}

.story-image {
    width: 100%;
    max-width: 642px;
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}





.story{
    width: 85%;
    padding: 20px;
    color: #000;
}
#about {
    font-size: 2em;
    margin: 0;
    padding-left: 4%;
}
#content1{
    padding: 20px;
    color: #000;
    border-radius: 10px;
    width: 47%;
}
.grid1 {
    display: grid;
    width: 50%;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
}
@media (min-width: 600px) {
    .grid1 {
        grid-template-columns: 1fr 1fr;
    }
}

#year {
    font-size: 2em;
    margin: 0;
}

#Plan {
    font-size: 1em;
    margin: 0;
}
.sign {
    padding-left: 2%;
}

#sign {
    font-size: 1.4em;
    margin: 0;
}
.sign img{
    width: auto;
    height: auto;
}



.menu {
    background-color: #fff;
    width: 100%;
}

.menu-grid{
   display: grid;
   grid-template-columns: 1fr;
    padding: 20px;
}
@media (min-width: 600px) {
    .menu-grid {
        grid-template-columns: 1fr 1.4fr;
    }
}

.menu1, .menu2 {
    padding: 20px;
}
.menu1 {
    width: 71%;
}
#menu {
    font-size: 1.5em;
    margin: 0;
    border-top: #e1b168 solid 2px;
    border-bottom: #e1b168 solid 2px;
}
.menu2 {
    overflow-y:auto;
    max-height:820px;
    width: 100%;
}
.See {
    height: auto;
    width: 50%;
    background: transparent;
    border: #e1b168 solid 2px;
}
#see {
    padding: 10px;
    color: #000;
    text-align: center;
    font-size: 1.2em;
}



.transparent {
    background: transparent;
    width: 100%;
    height: 60vh;
}



.offers {
    background-color: #fff;

}
.tittleHead {
    display: flex;
    justify-content: center;
}
#offer {
    text-align: center;
}
#Offers{
    width: 90px;
    font-size: 1.4em;
    text-align: center;
    color: #000;
    border-bottom: #e1b168 solid 1px;
    border-top: #e1b168 solid 1px;
}
#chefs {
    font-size: 1em;
    color: #000;
    width: 65%;
    margin: auto;
    text-align: center;
}
.offerGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    width: 94%;
    margin: 0 auto;
}
.Bugger, .Pizza {
    position: relative; 
  }
.Bugger {
    background-image: url('/public/images/buggerBack.jpg');
    width: 100%;
}
.Pizza {
    background-image: url('/public/images/pizzaBack.jpg');
}


.offerpic {
    position: relative;
    display: inline-block; 
    width: 170px;
    height: 170px;
    display: block;
    margin:30px;
  }
  
  .offerpic img {
    width: 100%; 
    display: block; 
  }
  
  .KshOffer {
    position: absolute;
    top: 50%; 
    left: 50%; 
    text-align: center;
    transform: translate(-50%, -50%) rotate(-35deg);
    color: #000; 
    padding: 10px; 
    border-radius: 5px; 
    text-align: center; 
  }
  #only1{
    color: #fff;
  }
  #Kshs1{
    color: #fff;
  }
  #only, #only1 {
    font-size: 1em;
    font-family: 'Poppins-bold';
  }
  #Kshs, #Kshs1 {
    font-size: 2.1em;
    font-family: 'Poppins-bold';
  }
  #going {
    border-top: #000 solid 1px;
    border-bottom: #000 solid 1px;
    width: 36%;
    margin-left: 20px;
    font-size: 1.3em;
  }
  #offerName {
    padding-left: 20px;
    font-size: 2em;
  }
  #offerDec {
    font-size: 1.2em;
    width: 90%;
    padding-left: 20px;
  }


    .MenuMain {
        background: #fff;
        width: 100%;
    }
  .grid-popular {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
  }
 
 @media (min-width: 600px) {
     .grid-popular {
         grid-template-columns: 1fr 1fr 1fr ;
     }
 }





 .Great {
    background: #292e36;

 }
 .innercontainer {
    width: 90%;
    /* margin: 0 auto; */
 }
 .WhatHead {
    padding-top: 20px;
    /* margin: 0 auto; */
 }
 #What {
    width: 180px;
    font-size: 1.4em;
    text-align: center;
    color: #fff;
    border-bottom: #e1b168 solid 1px;
    border-top: #e1b168 solid 1px;
 }
 #great {
    font-size: 2em;
    color: #fff;
    margin: auto;
 }
 #game {
    font-size: 1.15em;
    color: #fff;
    margin: auto;
 }
 .CalContainer {
    width: 100%;
    border: #3d4249 solid 20px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px;
 }
 .CalContainer1 {
    width: 100%;
    height: 60px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 20px; }
.CalContainer img {
    display: block;
    margin: 0 auto;
    width: 80px;
}
 #calender{
    font-size: 1.2em;
    color: #fff;
 }







.Blog {
    background: #fff;
    width: 100%;
}
.innercontainer {
    width: 97%;
    margin: 0 auto; 
}

.grid-popular {
    display: grid;
    gap:30px;
    padding: 20px;
}
@media (min-width: 600px) {
    .grid-popular {
        grid-template-columns: 1fr 1fr ;
    }
}
.leged{
    border: #bdbcc5 solid 0.01px;
}
.leged img {
    width: 100%;
    height: 45%;
}
#latest {
    width: 45%;
    font-size: 1em;
    margin: 0 auto;
    text-align: center;
}
.NavContent{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
#DELICIOUS{
    font-size: 1.1em;
    margin: 0 auto;
    text-align: center;
    color: #000;
    border-bottom: #e1b168 solid 1px;
    border-top: #e1b168 solid 1px;
}
#AUGUST {
    font-size: 1.1em;
    margin: 0 auto;
    text-align: center;
    color: #000;
    border-bottom: #e1b168 solid 1px;
    border-top: #e1b168 solid 1px;
}

.NavContent1{
    padding-left: 15px;
    padding-right: 15px;
}
#Cuisine {
    font-size: 1.4em;
    margin: 0 auto;
    color: #000;

}
#Capitalize{
    font-size: 1em;
    margin: 10px auto;
    color: #000;
}


.Book {
    height: 90vh;
    width: 100%;
    background-image: url('/public/images/backgrd.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerBooking {
    width: 90%;
    margin:  auto;
    max-width: 720px;
    height: 74%;
    padding-top: 30px 20px;
    background-color: #292e36f2;
    border-radius: 10px;
    color: #fff;
}
.tittleHead {
    text-align: center;
}
#RESERVATION{
    font-size: 1.2em;
    margin: 0;
    margin-top: 20px;
    border-bottom: #e1b168 solid 1px;
    border-top: #e1b168 solid 1px;
}
.BooKForm {
    margin-top: 20px;
}
.NameEmail, .PerDate {
    display: flex;
    gap: 10px; 
    padding: 10px;
    width: 80%;
    margin: 0 auto;
  }
  .NameEmail input, .PerDate input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: transparent;
    border: #a8acb3 solid 1px;
    height: 40px;
  }
  input::placeholder {
    color: #fff;
    font-size: 1.7em;
    padding: 10px;

  }
  .BookForm3 {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    margin-bottom: 25px;
    height: 12%;
    width: 100%;
    margin-top: 10%;
  }
  #BookNow {
    width: 35%;
    padding: 10px;
    background-color: #fff; 
    border: none;
    color: #000;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  #BookNow:hover {
    background-color: #000; 
  }


  .Footer{
    background: #292e36;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .innerFooter {
    width: 94%;
    margin: 0 auto;
  }
  .footerLogo {
    display: flex;
    justify-content: space-between;
  }
#tag {
    font-size: 1.3em;
    color: #fff;
    margin: auto;
    left: 0;

    
}
.social {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 15%;
    margin: auto;
  }
  .socialImg {
    width: 100%;
    text-align: center;
  }

  .footerMenu {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 20px;   
  }
  .ContFooter {
    width: 29%;
  }
  #contHead {
    font-size: 1.2em;
    color: #fff;
    border-bottom: #e1b168 solid 1px;
    border-top: #e1b168 solid 1px;
    width: 94px;
  }
  #locHead{
    font-size: 0.9em;
    color: #fff;
  }
  #NUm {
    font-size: 1em;
    color: #e1b168;
  }

  .JoinFooter {
    text-align: center;
    width: 120%;
  }
  #joinUs{
    font-size: 1.1em;
    color: #fff;
    width: 58%;
    margin: auto;
  }
  .JoinEmail {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
    margin: 50px auto;
  }
.JoinEmail input {
    width: 45%;
    padding: 10px;
    border: none;
    background-color: transparent;
    border: #a8acb3 solid 1px;
    height: 40px;
}

.JoinEmail button {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #fff; 
    border: none;
    color: #000;
    font-size: 1.5em;
    cursor: pointer;
}

#contHead1{
    font-size: 1.2em;
    color: #fff;
    border-bottom: #e1b168 solid 1px;
    border-top: #e1b168 solid 1px;
    width: 162px;
  }

  .OpenFooter {
    width: 29%;
  }
  #week{
    font-size: 1em;
    color: #fff;
  }
  #days {
    font-size: 1em;
    color: #e1b168;
  }

.copyRight {
    text-align: center;
    color: #fff;
    border-top: #a8acb3 solid 1px;
  }
 