.logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 30px;
  }

  .phone, .Reserv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 70px;
    border: #e1b168 solid 2px;
    margin: auto;
    transition: background 0.3s ease;
  }
  #call, #reservation {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    transition: color 0.3s ease;
  }
  .phone {
    background: transparent;
    color: #000;
  }
  
  .phone:hover {
    background: #e1b168;
  }
  .phone:hover #call {
    color: #000;
  }

  #call {
    color: #fff;
    text-align: center;
  }
 
  .Reserv {
    background: #e1b168;
    color: #fff;
  }
  #reservation {
    color: #000;
    padding: 10px;
    border: none;
  }
  .Reserv:hover {
    background: transparent;
    color: #fff;

  }
.Reserv:hover #reservation {
    color: #fff;
}